
<section class="oe_container oe_dark"
    style="overflow: hidden; background: #efefef; box-shadow: none;">
    <div class="row mt32 mb32">
        <div class="col-md-12">
            <h2 class="oe_slogan" style="font-size: 35px;">
                <b>Repair Order in Customer Portal</b>
            </h2>
            <h3 class="oe_slogn" style="text-align: center;">
                This module allow customer to see own repair orders in portal account !
            </h3>
        </div>
    </div>
</section>


<section class="oe_container oe_dark">
    <section class="oe_container oe_dark lead">
        <div class="oe_row">
            <div class="oe_span12" style="width: 100%">
                <div class="panel panel-primary"
                    style="border-color: #2F4F4F !important;">
                    <div class="panel-heading"
                        style="background-color: #2F4F4F !important;">
                        <h3 class="panel-title alert"
                            style="font-weight:500;color:white;">
                            <strong><i class="fa fa-mail-forward"></i> Key Features: </strong>
                        </h3>
                    </div>
                    <div class="panel-body">
                        <ul class="list-unstyled">
                            <li>
                                <i class="fa fa-check text-primary"
                                style="color: #2F4F4F !important;"></i>
                                Customer can see his own Repair Orders in My Account
                            </li>
                            <li>
                                <i class="fa fa-check text-primary"
                                style="color: #2F4F4F !important;"></i>
                                Customer can download PDF for repair order
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>
<br />


<section class="container mt32">
    <div class="row">
        <div class="oe_span12">
            <h4 class="text-center alert"
                    style="font-weight:500;background: #efefef;">
                <span align="center" class="label label-success "> <span
                    class="fa fa-compass fa-spin"></span> Usage Of Module
                </span>
            </h4>
        </div>
        
    </div>
</section>


<section class="oe_container lead">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <h2 class="text-center alert"
                style="font-weight:500;background: #efefef;">
                <strong>Repair Orders Menu with Count</strong>
            </h2>
            <br /> <img class="oe_picture oe_screenshot"
                src="0_menu.png">
        </div>
    </div>
</section>

<section class="oe_container lead">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <h2 class="text-center alert"
                style="font-weight:500;background: #efefef;">
                <strong>Repair Orders List</strong>
            </h2>
            <br /> <img class="oe_picture oe_screenshot"
                src="1_menu.png">
        </div>
    </div>
</section>

<section class="oe_container lead">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <h2 class="text-center alert"
                style="font-weight:500;background: #efefef;">
                <strong>Repair Order With Details and Also we can download PDF</strong>
            </h2>
            <br /> <img class="oe_picture oe_screenshot"
                src="2_list.png">
        </div>
    </div>
</section>

<section class="oe_container lead">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <h2 class="text-center alert"
                style="font-weight:500;background: #efefef;">
                <strong>Repair Order Detail</strong>
            </h2>
            <br /> <img class="oe_picture oe_screenshot"
                src="3_form.png">
        </div>
    </div>
</section>

<section class="oe_container lead">
    <div class="oe_row oe_spaced">
        <div class="oe_span12" align="center">
            <a href="https://kiraninfosoft.com/" target="new">
                <img class="oe_picture oe_screenshot" src="logo.png"  target="new">
            </a> <br/>
            <h2>
            <a href="https://kiraninfosoft.com/" style="color: #2F4F4F !important;"  target="new">
                Contact &amp; Support
            </a>
            </h2>
        </div>
    </div>

</section>

<section class="oe_container lead">
    <div class="oe_row oe_spaced">
        <div class="oe_slogan oe_spaced text-center">
            <a class="btn btn-success mt8" title="Website"
                style="background-color: #2F4F4F; color: #FFFFFF !important;"
                href="https://kiraninfosoft.com/" target="new"> Website </a> <a
                class="btn btn-success mt8" title="Contact Us"
                style="background-color: #2F4F4F; color: #FFFFFF !important;"
                href="mailto:info@kiraninfosoft.com"> Support </a> <a
                class="btn btn-success mt8" title="Request New Features now !"
                style="background-color: #2F4F4F; color: #FFFFFF !important;"
                href="mailto:info@kiraninfosoft.com"> Request For More Features </a>
        </div>
    </div>
</section>
